<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Example auth_info call.</display-name>
	<servlet>
		<servlet-name>AuthInfo</servlet-name>
		<servlet-class>testJanrain.AuthInfo</servlet-class>
		<init-param>
			<param-name>apiKey</param-name>
			<param-value>91b110c4310ccf938af68fd60edd9aed4df22b32</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthInfo</servlet-name>
		<url-pattern>/callback_url</url-pattern>
	</servlet-mapping>

</web-app>